body {
  background-color: #131313;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #fff;
  text-align: center;
}

#welcome {
  font-size: 10px;
  padding-bottom: 10%;
}

#time, #date {
  font-size: 35px;
}

#usuario {
  color: aquamarine;
}
